@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background: #0a98bb;
  font-family: 'PT Sans Narrow', sans-serif;
}

.top-header {
  width: 100%;
  height: 70px;
  background: #087591;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header img {
  width: 30px;
}

.back-img {
  margin: 0 30px;
}

.setting-img {
  margin: 0 30px 0 20px;
}

.container {
  display: grid;
  width: 90%;
  height: auto;
  grid-template-columns: auto auto auto auto;
  gap: 15px 0;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.flat-img {
  width: 290px;
  height: 180px;
  box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.63);
}

.search-cont {
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

.search-input {
  width: 40%;
  padding: 10px;
  outline: none;
  font-size: 17px;
  border-radius: 3px;
  border: 0;
  transition: all 1s;
}

.search-input:hover {
  box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.63);
}

.datile-container {
  width: 320px;
  height: auto;
  background: #fff;
  margin: auto;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.datile-container h2 {
  font-size: 22px;
  letter-spacing: 1px;
  background: #0a98bb;
  padding: 5px;
}

.datile-container h2:nth-child(odd) {
  background: #087591;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: auto auto;
    gap: 8px;
  }

  .flat-img {
    width: 100%;
  }

  .search-input {
    width: 80%;
  }
}
